apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "armonik.fullname" . }}-static
  namespace: {{ include "armonik.namespace" . }}
  labels:
    app.kubernetes.io/component: ingress
    {{- include "armonik.labels" . | nindent 4 }}
immutable: false
data:
{{- $call := dict "src" .Values.static "render" true "context" $ "print" false -}}
{{- include "armonik.merge" $call }}
{{- range $k, $v := $call.dst }}
  {{ $k | quote }}: {{ $v | toJson | quote }}
{{- end }}
