{{- range $partitionName, $config := .Values.partitions }}
{{- $partition := merge (deepCopy $config) (deepCopy $.Values.partitionCommon) -}}
{{- $registry := $.Values.global.imageRegistry | default $.Values.registry -}}
{{- $agent := $partition.pollingAgent -}}
{{- $worker := $partition.worker -}}
{{- $commonConf := list
    (include "armonik.conf.compute" $ | fromYaml)
    (list $partitionName $partition | include "armonik.compute.CommonConfHelper" | fromYaml)
    $partition.conf
  | include "armonik.conf.merge" | fromYaml -}}
{{- $agentConf := list
  (include "armonik.conf.polling" $ | fromYaml)
  (list $partitionName $partition | include "armonik.compute.AgentConfHelper" | fromYaml)
  $agent.conf
  $commonConf
| include "armonik.conf.merge" | fromYaml -}}
{{- $workerConf := list
  (include "armonik.conf.worker" $ | fromYaml)
  (list $partitionName $partition | include "armonik.compute.WorkerConfHelper" | fromYaml)
  $worker.conf
  $commonConf
| include "armonik.conf.merge" | fromYaml -}}
{{- $volumeConf := list
  $agentConf
  $workerConf
| include "armonik.conf.merge" | fromYaml }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "armonik.compute.fullname" $ }}-{{ $partitionName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ $partition.labels.app }}
    service: {{ $partition.labels.service }}
    partition: {{ $partitionName }}
spec:
  replicas: {{ $partition.replicas }}
  selector:
    matchLabels:
      app: {{ $partition.labels.app }}
      service: {{ $partition.labels.service }}
      partition: {{ $partitionName }}
  template:
    metadata:
      name: {{ $partitionName }}-compute-plane
      labels:
        app: {{ $partition.labels.app }}
        service: {{ $partition.labels.service }}
        partition: {{ $partitionName }}
      {{- if $partition.annotations}}
      annotations:
        {{- range $key, $value := $partition.annotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
    spec:
      {{- if $partition.nodeSelector}}
      nodeSelector:
        {{- range $key, $value := $partition.nodeSelector }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
      {{- if $.Values.serviceAccount.create }}
      serviceAccountName: {{ $.Values.serviceAccount.name }}
      serviceAccount: {{ $.Values.serviceAccount.name }}
      automountServiceAccountToken: true
      {{- end }}
      {{- if $partition.tolerations }}
      tolerations:
        {{- range $i, $toleration := $partition.tolerations }}
        - key: {{ $toleration.key }}
          operator: Equal
          value: {{ $toleration.value }}
          effect: NoSchedule
        {{- end }}
      {{- end }}
      terminationGracePeriodSeconds: {{ $partition.terminationGracePeriodSeconds }}
      shareProcessNamespace: {{ $.Values.shareProcessNamespace }}
      enableServiceLinks: true
      {{- $imagePullSecrets := $.Values.global.imagePullSecrets | default $.Values.imagePullSecrets }}
      {{- if $imagePullSecrets }}
      {{- with $imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      restartPolicy: {{ $.Values.restartPolicy }}
      containers:
      # agent container
      - name: {{ $agent.name }}
        {{- if $registry }}
        image: "{{ $registry }}/{{ $.Values.repository }}/{{ $agent.image }}:{{- $agent.tag | default (include "armonikPollingagent.tag" $) | default $.Chart.AppVersion }}"
        {{- else }}
        image: "{{ $.Values.repository }}/{{ $agent.image }}:{{- $agent.tag | default (include "armonikPollingagent.tag" $) | default $.Chart.AppVersion }}"
        {{- end }}
        imagePullPolicy: {{ $agent.imagePullPolicy | quote}}
        resources:
          limits:
            cpu: "{{ $agent.limits.cpu }}"
            memory: "{{ $agent.limits.memory }}"
          requests:
            cpu: "{{ $agent.requests.cpu }}"
            memory: "{{ $agent.requests.memory }}"
        securityContext:
        {{- toYaml $agent.securityContext | nindent 10 }}
        ports:
        - name: {{ $agent.ports.name }}
          containerPort: {{ $agent.ports.containerPort }}
          protocol: TCP
        {{if $agent.readinessProbe }}
        readinessProbe:
        {{- toYaml $agent.readinessProbe | nindent 10 }}
        {{- end }}
        {{- if $agent.livenessProbe }}
        livenessProbe:
        {{- toYaml $agent.livenessProbe | nindent 10 }}
        {{- end }}
        {{- if $agent.startupProbe }}
        startupProbe:
        {{- toYaml $agent.startupProbe | nindent 10 }}
        {{- end }}
        env: {{- include "armonik.conf.generateEnv" $agentConf | nindent 10 }}
        envFrom: {{- include "armonik.conf.generateEnvFrom" $agentConf | nindent 10 }}
        volumeMounts:
          {{- include "armonik.conf.generateVolumeMounts" $agentConf | nindent 10 }}
          - name: cache-volume
            mountPath: /cache
            mountPropagation: None
      # worker containers
      - name: "{{ $worker.name }}"
        {{- if $registry }}
        image: "{{ $registry }}/{{ $.Values.repository }}/{{ $worker.image }}:{{- $worker.tag | default (include "armonikCore.tag" $) | default $.Chart.AppVersion }}"
        {{- else }}
        image: "{{ $.Values.repository }}/{{ $worker.image }}:{{- $worker.tag | default (include "armonikCore.tag" $) | default $.Chart.AppVersion }}"
        {{- end }}
        imagePullPolicy: {{ $worker.imagePullPolicy | quote }}
        resources:
          limits:
            cpu: "{{ $worker.limits.cpu }}"
            memory: "{{ $worker.limits.memory }}"
          requests:
            cpu: "{{ $worker.requests.cpu }}"
            memory: "{{ $worker.requests.memory }}"
        {{- if $worker.livenessProbe }}
        livenessProbe:
        {{- toYaml $worker.livenessProbe | nindent 10 }}
        {{- end }}
        {{- if $worker.startupProbe }}
        startupProbe:
        {{- toYaml $worker.startupProbe | nindent 10 }}
        {{- end }}
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", {{ $.Values.preStopWaitScript }}]
        env: {{- include "armonik.conf.generateEnv" $workerConf | nindent 10 }}
        envFrom: {{- include "armonik.conf.generateEnvFrom" $workerConf | nindent 10 }}
        volumeMounts:
          {{- include "armonik.conf.generateVolumeMounts" $workerConf | nindent 10 }}
          - name: cache-volume
            mountPath: /cache
            mountPropagation: None
      {{- if not $.Values.fluentBit.isDaemonSet }}
      - name: {{ .Values.fluentBit.name }}
        {{- $registry := .Values.global.imageRegistry | default .Values.image.registry | default "" }}
        {{- if $registry }}
        image: "{{ $registry }}/{{ .Values.fluentBit.repository }}/{{ .Values.fluentBit.image }}:{{ .Values.fluentBit.tag | default .Chart.AppVersion }}"
        {{- else }}
        image: "{{ .Values.fluentBit.repository }}/{{ .Values.fluentBit.image }}:{{ .Values.fluentBit.tag | default .Chart.AppVersion }}"
        {{- end }}
        imagePullPolicy: {{ .Values.fluentBit.imagePullPolicy }}
        envFrom:
        - configMapRef:
            name: {{ .Values.fluentBit.configMapName }}
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", {{ $.Values.preStopWaitScript }}]
        volumeMounts:
        - name: cache-volume
          mountPath: /cache
          mountPropagation: None
        - name: "varlog"
          mountPath: "/var/log"
          readOnly: true
        - name: "varlibdockercontainers"
          mountPath: "/var/lib/docker/containers"
          readOnly: true
        - name: runlogjournal
          mountPath: "/run/log/journal"
          readOnly: true
        - name: dmesg
          mountPath: "/var/log/dmesg"
          readOnly: true
        - name: fluentbitconfig
          mountPath: "/fluent-bit/etc"
          readOnly: false
      {{- end }}
      volumes:
        {{- include "armonik.conf.generateVolumes" $volumeConf | nindent 8 }}
        - name: cache-volume
          emptyDir: {}
        {{- if not $.Values.fluentBit.isDaemonSet }}
        - name: dmesg
          hostPath:
            path: /var/log/dmesg
            type: ""
        - name: fluentbitconfig
          configMap:
            name: {{ .Values.fluentBit.configMapName }}
            defaultMode: 420
            optional: false
        - name: runlogjournal
          hostPath:
            path: /run/log/journal
            type: ""
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
            type: ""
        - name: varlog
          hostPath:
            path: /var/log
            type: ""
        {{- end }}
{{- end }}
