{{ if (include "armonik.keda.context" $ | fromYaml).Values.enabled }}
{{- range $partitionName, $config := .Values.partitions }}
{{- $partition := merge (deepCopy $config) (deepCopy $.Values.partitionCommon) }}
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "armonik.compute.fullname" $ }}-{{ $partitionName }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "10"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "armonik.compute.fullname" $ }}-{{ $partitionName }}
    #envSourceContainerName: ".spec.template.spec.containers[0].name" # Optional. Default: .spec.template.spec.containers[0]
  pollingInterval: {{ $partition.hpa.pollingInterval }}                               # Optional. Default: 30 seconds
  cooldownPeriod: {{ $partition.hpa.cooldownPeriod }}                              # Optional. Default: 300 seconds
  idleReplicaCount: {{ $partition.hpa.idleReplicaCount }}                               # Optional. Default: ignored, must be less than minReplicaCount
  minReplicaCount: {{ $partition.hpa.minReplicaCount }}                                # Optional. Default: 0
  maxReplicaCount: {{ $partition.hpa.maxReplicaCount }}                              # Optional. Default: 100
  {{- with $partition.hpa.fallback }}
  fallback:                                          # Optional. Section to specify fallback options
    failureThreshold: {{ $partition.hpa.fallback.failureThreshold }}                              # Mandatory if fallback section is included
    replicas: {{ $partition.hpa.fallback.replicas }}                                     # Mandatory if fallback section is included
  {{- end }}
  advanced: # Optional. Section to specify advanced options
    restoreToOriginalReplicaCount: {{ $partition.hpa.behavior.restoreToOriginalReplicaCount }}        # Optional. Default: false
    horizontalPodAutoscalerConfig: # Optional. Section to specify HPA related options
      behavior: # Optional. Use to modify HPA's scaling behavior
        scaleDown:
          stabilizationWindowSeconds: {{ $partition.hpa.behavior.stabilizationWindowSeconds }}
          policies:
            - type: {{ $partition.hpa.behavior.type }}
              value: {{ $partition.hpa.behavior.value }}
              periodSeconds: {{ $partition.hpa.behavior.periodSeconds }}
  triggers:
{{ toYaml $partition.hpa.triggers | indent 4 }}
{{ end }}
{{ end }}
